<!-- show all blogs as a cart -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>HomePage</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>hello</h1>
        <%- include('./partials/script.ejs') %>
</body>

</html>